.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #b71c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  z-index: 1000;
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #ffccbc;
}
.logout-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.logout-btn:hover {
  color: #ffccbc;
}
